body {
    /*background-color: #104A5E;*/
    
    background: linear-gradient(-45deg, #2c1957, #d93ce7, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
    
}


.top-button {
    width: 4vh;
    height: 4vh;
    vertical-align: center;
}

.middle-button {
    height: 100%;
    width: 8vw;
    background-color: white;
    border: none;
    font-size: 24px;
    border-radius: 5px;
}

.history-record {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 70vw;
    margin: auto;
    border-radius: 5px;
    background-color: #1f9442;
    margin-bottom: 10px;
    color: rgb(231, 231, 231);
}

.history-record p {
    width: 8vw;
    text-align: center;
}

.history-record p:first-child {
    width: 20vw;
    text-align: center;
}

.history-record p:nth-last-child(2) {
    width: 14vw;
    text-align: center;
}

.menu-item ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

.menu-item:hover > ul,
ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}
  
.menu-item ul li {
    clear: both;
    width: 100%;
}

.menu-item {
    color: #fff;
    background: #0D1117;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.popup-no-click {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: 100ms;
    visibility: hidden;
    opacity: 0;

}

.popup-no-click:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    color: white;
    margin: 50px auto;
    margin-top: 70px;
    padding: 40px;
    background: #0D1117;
    border-radius: 5px;
    height: 35vh;
    width: 35vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2vh;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.popup .slider input{
    width: 250px;
    color: white;
}

.popup .close:hover {
    color: red;
}

.cell {
    background-color: black;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#game-page {
    height: 100vh;
    max-width: 100vw !important;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.555);
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0D1117;
    width: 100vw;
    max-height: 5vh;  
    margin: 0;
    padding: 15px; 
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.555)
}   

#menu-img {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

#left-menu {
    height: 100%;
}

#middle-info {
    height: 100%;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#right-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 20px;
    height: 100%;
}

#cheat-button {
    width: 4vh;
    height: 4vh;
    vertical-align: center;
}

#settings-button {
    width: 4vh;
    height: 4vh;
    vertical-align: center;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#game-space {
    height: 55vh;
    width: 80vw;
    top: 12vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game {
    height: 100%;
    width: 56vh;
    display: flex;
    flex-wrap: wrap;
}

.bomb-and-flag {
    height: 100%;
    width: 100%;
}

.number {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    height: 100%;
    width: 100%;
}

.cursorControl {
    cursor: pointer;
}

#game div:hover{
    background-color: rgb(31, 31, 31);
    transition: 50ms;
}

#game-history {
    height: 30vh;
    width: 80vw;

    position: absolute;
    left: 10vw;
    bottom: 0;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.658);

    background-color: #0D1117;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#history-title {
    height: 10vh;
    width: 70vw;
    margin: auto;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(245, 245, 245);
}

#ranking-button {
    height: 40px;
    width: 150px;
    background-color: orange;

    display: flex;
    justify-content: center;
    align-items: center;
}

#scrollable-history {
    height: 20vh;
    overflow-y: scroll;
}


button:hover{
    filter: brightness(120%);
    transition: 1s;
}
  
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
  
li {
    color: #fff;
    background: #0D1117;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
    
li:hover, li:focus-within {
    background: #414141;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}


#left-item {
    position: fixed;
    top:6vh;
    left:0;
    z-index: 2;
}

#button-aplicar {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}