* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-family: "Lato", sans-serif;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

input {
    font-family: "Poppins", sans-serif;
}

button {
    font-family: "Poppins", sans-serif;
}