#login-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(20,113,163);
    background: linear-gradient(42069deg, rgba(20,113,163,1) 0%, rgba(221,49,49,1) 100%);
    /* background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

#login {
    width: 500px;
    height: 520px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    gap: 50px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.788);

}

#login-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

.header-logo {
    height: 50px;
    width: 50px;
    position: relative;
    right: 0;
    top: 0;
}

#login-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#login-actions {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.field {
    /* background-color: #F2F2F2; */
    display: flex;
    margin: auto;
    width: 400px;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
    font-size: large;
}

#login-button {
    background-color: #1471A3;
}

#signup-button {
    background-color: #dd3131;
}

button {
    width: 400px;
    height: 40px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    filter: brightness(120%);
    transition: 1s;
}